<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>io.github.caocaocc.keqdroid.network-service</string>
  <key>ProgramArguments</key><array><string>/Library/Application Support/io.github.caocaocc.keqdroid/bin/keqdis-network-service</string></array>
  <key>MachServices</key><dict><key>io.github.caocaocc.keqdroid.network-service</key><true/></dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>ProcessType</key><string>Interactive</string>
  <key>ExitTimeOut</key><integer>30</integer>
  <key>Umask</key><integer>63</integer>
</dict></plist>
